*{
    box-sizing: border-box;
}

/* structure */

.tickets{
    width: 100%;
    height: 100%;
    padding:15px 0 0 0 ;
}

.info-panel {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    overflow-y: scroll;
    border-radius: 30px;
    /* margin: 10px 0px; */
}


.sessionUser{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0 0px 10px;
}

.ticketsUser, .prizesUser, .rules {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0 10px 10px;
}

.sessionDesign {
    width: 90%;
    height: auto;
    border-radius: 30px;
    padding: 10px 20px 0px 20px;
    background-color: white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border:none;
    /* margin-top:20px; */
}



.ticketDesign{
    width: 90%;
    height: auto;
    border-radius: 30px;
    padding: 10px 20px 0px 20px;
    background-color: white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border:none;
}
.buttonDesign {
    width: 90%;
    height: 100px;
    border-radius: 30px;
    padding: 10px 20px 0px 20px;
    background-color: white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
    border:none;
}

.panel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-10px);
    transition: opacity 0ms ease-in-out;
    margin-top:10px;
}

.panel ol li{
    color: black;
}

.panel p{
    padding: 5px 30px;

}

.buttonDesign:focus{
    outline: none;
}

.show {
    width: 100%;
    height: auto;
}

.hide {
    width: 100%;
    height: 100px;
} 



.font {
    font-size: 15px;
}

.font13 {
    font-size: 13px;
}

.font-style {
    font-size: 15px;
    font-weight: bold;
}

.span {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    margin-top: 5px;
    margin-right: 5px;
}

.red {
    background-color: red;

}

.green {
    background-color: green;

}

.status {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 0px;
}

#buttonMyTickets:hover, #buttonPrizes:hover{
    height: auto;
    background-color: rgba(241, 240, 240, 0.473);
}

#buttonMyTickets:active, #buttonPrizes:active{
    background-color: rgb(255, 255, 255);
}

#buttonMyTickets p, #buttonPrizes p{
    text-align: start;
}
.panel .prizeParagraphs {
    color:black;
}

.ticketsUser.show > #buttonMyTickets + .panel{
    opacity: 1;
    transform: translateY(0);
    pointer-events:auto;
}

.prizesUser.show > #buttonPrizes + .panel{
    opacity: 1;
    transform: translateY(0);
    pointer-events:auto;
}

.rules.show > #buttonPrizes + .panel {
    opacity: 1;
    transform: translateY(0);
    pointer-events:auto;
}

.panel ol li{
    padding: 5px 15px;
}


.info-panel::-webkit-scrollbar {
    width: 0;
    color: transparent;
    background-color: transparent;
}


.panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent; 
    border-radius: 10px;
} 

.panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px transparent; 
} 



.info-panel::-webkit-scrollbar {
    width: 12px;
}

.info-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent; 
    border-radius: 10px;
}

.info-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px transparent; 
}





@media (max-width: 600px) {
    
    
}






/* ADMIN */

.adminPanel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;

}

.infoTemplate{
    width: 95%;
    height: 20%;

    background-color: rgb(255, 145, 98);
    border-radius: 30px;
    padding-left: 20px;
    margin: 5px 0px;
    border:none;
    box-shadow: 5px 5px 12px #d9d4d4;

    color:white;
    font-weight: bolder;

}

.infoTemplate:disabled{
    background-color: grey;
}
.infoTemplate:focus{
    outline: none;
}

.sessionOpen, .sessionClosed{
    background-color:rgba(158, 98, 255, 0.26);
}

/* .adminPanel{
    background: url("../../../../../images/green.png");
    background-size: cover;
    border-radius: 0px 0px 30px 30px;

    
    
} */


