<div class="welcomeDiv">
    <p class="welcomeParagraph">
        Welcome to Loto3000!
    </p>
    <form class="loginDiv"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmitLogin()">

        <label for="">Username</label>
        <input type="text" 
                formControlName="username"
                autocomplete="off" >
        <label for="">Password</label>
        <input type="password" 
            formControlName="password" 
            autocomplete="off">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <div class="registerDiv">
        <p>
            <span class="orSpan"></span>
            <span>or</span>
            <span class="orSpan"></span>
    
        </p>
        <p>
            New Here?
        </p>
        <button routerLink="register" type="submit" class="btn btn-success">Register</button>
    </div>
    

</div>
