*{
    box-sizing: border-box;
}
/* 
@keyframes blinking{
    0%{   color: yellow;   }
    47%{   color: green; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: green;   }
    } */

    @keyframes blinker {
        50% {
            opacity: 0;
          }
    }

.winnersBoard{
    width: 100%;
    height: 100%;
}

.prizes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}


.prizeDesign, .prizes p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 5px;
    margin: 10px 5px;
    
}

.prizeDesign:hover{
    background-color: white;
}

.prizeDesign svg{
    color:rgba(173, 173, 173, 0.425);
}

.board {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}


.board{
    width: 100%;
    height: auto;
}

.board-layer-two{
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

.board-header{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.draw-combination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.board-main{
    width: 100%;
    height: 270px;
    border: 1px solid rgba(128, 128, 128, 0.452);
    border-radius: 20px;
    overflow-y: scroll;
}


.board-main .list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-main::-webkit-scrollbar {
    width: 0;
    color: transparent;
    background-color: transparent;
}

.draw-combination span{
    animation:blinker 1.5s infinite;
}